[submodule "crosstool-NG"]
	path = crosstool-NG
	url = https://github.com/jcmvbkbc/crosstool-NG
	branch = xtensa-1.22.x
[submodule "esp_stdcpp_port"]
	path = esp_stdcpp_port
	url = https://github.com/Sermus/esp_stdcpp_port.git
	branch = esp32
[submodule "examples/esp8266_sgi_stl_tests"]
	path = examples/esp8266_sgi_stl_tests
	url = https://github.com/Sermus/esp8266_sgi_stl_tests.git
	branch = esp32